.riypm { 
  border-left-width: 99px;
  line-height: 51px;
  padding-bottom: 9px;
  border-bottom-width: 57px;
  border-left-width: 49px;
  padding-bottom: 59px;
  margin-bottom: 86px;
  border-left-width: 86px;
  margin-top: 40px;
  margin-right: 55px;
  padding-right: 33px;
}
