.riypm { 
  border-left-width: 99px;
  line-height: 51px;
  padding-bottom: 9px;
  border-bottom-width: 57px;
  border-left-width: 49px;
  padding-bottom: 59px;
  margin-bottom: 86px;
  border-left-width: 86px;
  margin-top: 40px;
  margin-right: 55px;
  margin-top: 12px;
  padding-right: 51px;
  padding-right: 74px;
  font-size: 94px;
  margin-right: 70px;
  margin-top: 46px;
  line-height: 41px;
  padding-right: 67px;
  margin-right: 17px;
  margin-right: 51px;
  padding-left: 19px;
  padding-bottom: 23px;
  border-left-width: 27px;
  margin-top: 64px;
  padding-top: 82px;
  margin-top: 61px;
  border-bottom-width: 53px;
  line-height: 86px;
  padding-bottom: 36px;
  border-left-width: 96px;
  border-right-width: 41px;
  border-left-width: 43px;
  border-left-width: 89px;
  line-height: 14px;
  margin-right: 26px;
  border-bottom-width: 65px;
  line-height: 8px;
  line-height: 99px;
  padding-left: 56px;
  border-left-width: 4px;
}
